:root {
  /* Light Section (Default) */
  --bg: #FFFFFF;
  --h1: #3D6957;
  --h2: #3D6957;
  --subtitle: #577870;
  --paragraph: #477471;
  --primary-btn-bg: #3D6957;
  --primary-btn-text: #EAF3EF;
  --primary-btn-hover: #477D64;
  --secondary-btn-bg: #ffffff;
  --secondary-btn-text: #3D6957;
  --secondary-btn-hover: #f1f2f5; 
  --card-bg: #EAF3EF;
  --icon: #3D6957;

  --border-color: #cacdd3;
}

/* Buttons */
.primary-button {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-text); 
}

.primary-button:hover {
  background-color: var(--primary-btn-hover);
}

.secondary-button {
  background-color: transparent;
  color: var(--secondary-btn-text); 
  border: 1px solid var(--border-color);
}

.secondary-button:hover {
  background-color: var(--secondary-btn-hover);
}

/* Text defaults */
h1 {
  color: var(--h1);
}

h2 {
  color: var(--h2);
  font-size: 1.875rem;
}

h3 {
  color: var(--h2);
  font-size: 1.2rem;
}

h4 {
  color: var(--h2);
  font-size: 1rem;
}

p {
  color: var(--paragraph);
  font-size: 1rem;
}

.subtitle {
  color: var(--subtitle);
  font-size: 1rem;
}

.hero-size-p {
  font-size: 1.125rem;
}


/* DARK */
.dark-h2{
  color: #FFFFFF;
}

.dark-p{
  color: var(--primary-btn-text);
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}